<div id="header"><h1>Paste your object (JSON, CSV):</h1></div>
<div id="content">
	<form action="/" method="POST">
		<textarea name="object"></textarea>
		<input type=submit value="Dump" />
	</form>
</div>
