<!DOCTYPE html>
<html>
	<head>
		<title>Objects Dump</title>
		<link rel="stylesheet" href="/reset.css" />
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div id="container">
			<%- body %>
			<div id="footer">
				<ul>
					<% for(var i=0; i < site.links.length; i++) {%>
						<li><a href="<%= site.links[i].href %>"><%= site.links[i].name %></a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</body>
</html>
