<div id="header"><h1>Terms of Service</h1><hr /></div>
<div id="content">
	<ol type="1">
		<li>It's prohibited to upload content that infringes or violates someone else's rights, or violates the law.</li>
		<li>The site is not responsible for loss, damages and expenses that result from your use of the service.</li>
	</ol>
</div>
